/***********************************
TYPOGRAPHIE
************************************/

h1,h2,h3,h4,p,a {
    font-family: "helvetica", "arial", "sans-serif";
    font-weight: 400;
    color: #000;
}

p {
    font-size: 1rem;
}

h2,{
    font-size: 2rem;
    line-height: 1.4em;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

h4{
    font-weight: bold;
}

a{
    text-decoration: none;
}

/***********************************
        BODY
************************************/

.page-container {
    margin: 0;
    padding: 0;
    background: #FFF;
}

/*style des images de fond*/
.presentation_banniere, .proposition_commerciale {
   background: 50% 50% no-repeat;
    background-size: cover;
}


/************************************
            HEADER
*************************************/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*bannière icone chouette*/
.navbar-icone img {
    max-height: 40px;   
}

/*texte navigation*/
.site-navigation {
    display: flex;
    list-style-type: none;
}

li a{
    font-size: 1.2rem;
    padding-bottom: 3px;
    margin-right: 20px;
}
li a:hover{
    font-weight: bold;
    border-bottom: 3px solid #000;
}


/*****************************************
        SECTION PRESENTATION
*******************************************/

/*Présentation bannière*/

/*fond image banière*/
.presentation_banniere {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(58, 2, 2, 0.5)), url("img/la-chouette-agence-banniere.jpg");
    background-attachment: fixed; 
}

/*style - alignement texte dans image bannière*/
.bloc_presentation, .cta_banniere_bloc, .proposition_commerciale_cadre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    padding: 100px 50px;
}

.logo_agence{
    width: 100px;
}

.titre-h1{
    font-size: 2.3rem;
    font-weight: 400;
    color:rgb(255, 156, 110);
}

/*bannière - bouton contact*/
.btn-atomic-tangerine{
    background: rgb(243, 151, 108);
    color: #FFFFFF;
    border-radius: 40px;
    width: 80px;
}

.btn-atomic-tangerine:hover {
    background: #c27956;   
}
.cta-hero {
    margin-top: 22px;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-weight: 700;
}


/*****************************************
        SECTION SERVICES
*******************************************/

.service_accroche{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.service_titre{
    width: 600px;
    margin: 50px 0 30px 0;
}

.service_compétences{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service_bloc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    height: 230px;
}

.service_bloc--info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* ombres sur les icones*/
.icon-dark-slate-blue {
    color: #364577;
    border-color: #364577;
    font-size: 4rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.service_bloc--commentaire{  
    width:300px;  
    height: 63px;
    font-size: 1rem;
    margin: 0 20px 50px 20px;
    text-align: center;
}

.service_avis{
    width: 600px;    
}

.avis{
    font-size: 1.2rem;
    font-style: italic  ;
    text-align: center;
}

.auteur_avis{
    text-align: center;
    font-size: 1rem;;
}


/****************************************
    SECTION BANNIERE COMMERCIALE
******************************************/
/*image de fond*/
.proposition_commerciale {
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(58, 2, 2, 0.5)), url("img/image-de-presentation.jpg");
    background-attachment: fixed; 
    text-align: center;
}

/*lien page contact*/
.bold-link {
    font-weight: bold;
    color: #FFF;
    text-decoration: underline;
}
.proposition_commerciale_cadre-titre, .proposition_commerciale_cadre-resume{
    color: #FFF;
}


/****************************************
    SECTION PORTFOLIO
******************************************/
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bloc_portfolio{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vignette_realisation{
    width: 30%;
    max-height: 60%;   
    padding: 10px 20px 10px 20px; 
    text-align: center;
}

/*origine placement photo*/
a[data-lightbox] {
    position: relative;
}

/*croix de selection*/
a[data-lightbox]:hover::before{   
   /*placement de la croix*/
    z-index: 1;
    position: absolute;
    top:-160px;
    left:115px;
    
    /*style croix*/
    content: "+";
    font-family: Arial;
    font-size: 32px;  
    width: 30px;
    height: 30px;     
    color: #FFF;
    
    /*rond*/    
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding : 12px 15px 15px 15px; 
}

/*hover blanc sur image*/
a[data-lightbox]:hover img {
    opacity: 0.5;
}


/****************************************
    SECTION CTA
******************************************/

.cta_banniere {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(58, 2, 2, 0.5)), url("img/la-chouette-agence-banniere.jpg"); 
}
.cta_banniere_bloc{
    text-align: center;
}

.cta_banniere_bloc-titre{
    color:#FFF;
}

/****************************************
    FOOTER
******************************************/
footer{
    padding: 20px 0 20px 0;
    background-color: #F3976C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations_text{
    line-height: 1rem;
    text-align: center;
}
.mailto{
    text-decoration: underline;
    font-weight: bold;
}

.informations_reseaux{
    margin-top: 1rem ;
    margin-bottom: 1rem;;
}

.fa {
    font-size: 30px;
}









/***************************************************
            MEDIA QUERIES
*****************************************************/
@media screen and (max-width: 992px){


}


@media screen and (max-width: 767px) {

}
