/***********************************
TYPOGRAPHIE
************************************/

h1,h2,h3,h4,p,a,label, textarea, input {
    font-family: "helvetica", "arial", "sans-serif";
    font-weight: 400;
    color: #000;
    letter-spacing: 1px;
}

p, textarea {
    font-size: 1rem;
}

h2,{
    font-size: 2rem;
    line-height: 1.4em;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

h4{
    font-weight: bold;
}

a{
    text-decoration: none;
}


/***********************************
        BODY
************************************/

.page-container {
    margin: 0;
    padding: 0;
    background: #FFF;
}

/*style des images de fond*/
.presentation_banniere, .proposition_commerciale {
    background: 50% 50% no-repeat;
    background-size: cover;
}


/************************************
            HEADER
*************************************/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*bannière icone chouette*/
.navbar-icone img {
    max-height: 40px;   
}

/*texte navigation*/
.site-navigation {
    display: flex;
    list-style-type: none;
}

li a{
    font-size: 1.2rem;
    padding-bottom: 3px;
    margin-right: 40px;
}
li a:hover{
    border-bottom: 3px solid #000;
}


/*****************************************
        INDEX - SECTION PRESENTATION
*******************************************/

/*Présentation bannière*/

/*fond image banière*/
.presentation_banniere {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(58, 2, 2, 0.5)), url("img/la-chouette-agence-banniere.jpg");
    background-attachment: fixed; 
}

/*style - alignement texte dans image bannière*/
.bloc_presentation, .cta_banniere_bloc, .proposition_commerciale_cadre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    padding: 40px 40px;
}

.logo_agence{
    width: 100px;
    border: solid 2px #fff;
    border-radius:50px;
    box-shadow: 3px 3px 8px #000;
}

.titre-h1{
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    line-height: 3rem;
}

/*bannière - bouton contact*/
.btn-atomic-tangerine{
    background: rgb(243, 151, 108);
    color: #000;
    border-radius: 40px;
    width: auto;
    border: solid #000 1px;
    box-shadow: 3px 3px 8px #000;
}

.btn-atomic-tangerine:hover {
    background: #000;
    color: #FFF;   
    border: solid #fff 1px;
    box-shadow: 1px 1px 5px #fff;
}

.cta-hero {
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 12px 28px 12px 28px;
    font-weight: 700;
}


/*****************************************
        INDEX - SECTION SERVICES
*******************************************/
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

/*bloc des compétences*/
.service_bloc {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

/* ombres sur les icones*/
.icon-dark-slate-blue {
    color:#000;
    font-size: 4rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/*vignette compétences*/
.service_bloc--info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 300px;
    height: 250px; 
    background-color: rgb(242, 242, 242);
    border-radius: 25px;
    box-shadow: 6px 6px 10px rgb(150, 150, 150);
    padding: 20px;
    margin: 20px;
}

.service_bloc--commentaire{  
    width:300px;  
    height: 63px;
    font-size: 1rem;
    text-align: center;
}

.service_avis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    padding: 20px 20px;
}

.avis{
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
}

.auteur_avis{
    text-align: center;
    font-size: 1.2rem;
}


/****************************************
    INDEX - SECTION BANNIERE COMMERCIALE
******************************************/
/*image de fond*/
.proposition_commerciale {
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(58, 2, 2, 0.5)), url("img/image-de-presentation.jpg");
    background-attachment: fixed; 
}

.proposition_commerciale_cadre-titre, .proposition_commerciale_cadre-resume{
    color: #FFF;  
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: justify;
    line-height: 1.5rem;
}


/****************************************
    SECTION PORTFOLIO
******************************************/
.portfolio{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.portfolio h2{
    text-align: center;
}

.bloc_portfolio_col01, .bloc_portfolio_col02{
    display:flex;
}

.vignette_realisation{
    width: 320px;
    height: 460px;   
    text-align: center;

    background-color: rgb(242, 242, 242);
    border-radius: 25px;
    box-shadow: 6px 6px 10px rgb(150, 150, 150);
    padding: 20px;
    margin: 20px;
}

/*origine placement photo*/
a[data-lightbox] {
    position: relative;
}

/*croix de selection*/
a[data-lightbox]:hover::before{   
   /*placement de la croix*/
    z-index: 1;
    position: absolute;
    top:-160px;
    left:125px;
    
    /*style croix*/
    content: "+";
    font-family: Arial;
    font-size: 32px;  
    width: 30px;
    height: 30px;     
    color: #FFF;
    
    /*rond*/    
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding : 12px 15px 15px 15px; 
}

/*hover blanc sur image*/
a[data-lightbox]:hover img {
    opacity: 0.5;
}

/****************************************
    FENETRE VISIONNEUSE PORTFOLIO
******************************************/
/* lance la visionneuse*/
#lightbox-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 15px;
    width: 860px;
}

/*contenu de fenetre*/
.modal-content {
    position: relative;
    background-color: rgb(242, 242, 242);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
   
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

/*image dans visionneuse*/
.img-responsive{
    align-self: center;
    width: 320px;
}

/*couleurs des icones de navigation visionneuse*/
.prev-lightbox, .next-lightbox, .close-lightbox{
    color: #fff;
    background: #000;
    padding: 10px;
}

/*croix de fermeture*/
.close-lightbox {
    position: absolute;
    font-size: 40px;
    top: 20px;
    right: 20px;
    z-index: 20;
    border: none;
    line-height: 30px;
}
/*chevrons de navigation visionneuse*/
.prev-lightbox, .next-lightbox {
    font-size: 20px;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1; 
}
/*chevron gauche*/
.prev-lightbox{
    left: 30px;
}

/*chevron droite*/
.next-lightbox {
    right: 30px;
}

/*texte dans visionneuse*/
.lightbox-caption{
    text-align: center;
    font-weight: bold;
}


/****************************************
    SECTION CTA
******************************************/

.cta_banniere {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(58, 2, 2, 0.5)), url("img/la-chouette-agence-banniere.jpg"); 
}
.cta_banniere_bloc{
    text-align: center;
}

.cta_banniere_bloc-titre{
    margin-top: 0;
    color:#FFF;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/****************************************
    FOOTER
******************************************/
footer{
    padding: 20px 0 20px 0;
    background-color: #F3976C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations_text{
    line-height: 1rem;
    text-align: center;
}
.mailto{
    text-decoration: underline;
    font-weight: bold;
}

.informations_reseaux{
    margin-top: 1rem ;
    margin-bottom: 1rem;;
}

.fa {
    font-size: 30px;
}


/***************************************************
            PAGE 2 - CONTACT
*****************************************************/
/* texte bandeau*/
.bandeau_contact--titre, .bandeau_contact--texte{
    text-shadow: black 0.1em 0.1em 0.2em;  
    color: #FFF; 

}

.bandeau_contact--titre{
     font-weight: bold;
    font-size: 2rem;
}

.bandeau_contact--texte{
    font-size: 1.3rem; 
    line-height: 2rem;
}


/***************************************************
            FORMULAIRE
*****************************************************/
#form_1{
    margin: 30px 0 30px 0;
}

.form-group,button{
    margin-left: 20px;
    margin-bottom: 20px;
}

textarea{
    margin-top: 20px;
    display: flex;
    justify-content: start;
}

.form-control{
    background-color:#f7c1a9 ;
}

input{
font-weight: bold;
}

.btn-envoyer{
    background: rgb(243, 151, 108);
    color: #000;
    border-radius: 20px;
    border: solid #000 1px;
    box-shadow: 3px 3px 8px #000;
}

.btn-envoyer:hover {
    background: #000;
    color: #FFF;   
    border: solid #fff 1px;
    box-shadow: 3px 3px 8px #fff;
}


/***************************************************
            MEDIA QUERIES
*****************************************************/
/*media queries - tablette */
@media screen and (max-width: 768px) {
    /*index*/
    .service_bloc {
        display: flex;
        flex-direction: column;  
        align-items: center;
    }
    .bloc_presentation, .cta_banniere_bloc, .proposition_commerciale_cadre{
        max-width: none;
    }

    /*vignette compétences*/
    .service_bloc--info{
        margin: 10px;
    }
    .bloc_portfolio_col01, .bloc_portfolio_col02 {
         display: block;
    }

    /* contact*/
    .form-group{
        padding: 0 10px 0 0;
    }
}

/*media queries - téléphone */
@media screen and (max-width: 375px) {
       
    /*index*/   
    /*bannière icone chouette*/
    .navbar-icone img {
        max-height: 30px;   
    }
    /* menu navigation*/   
    li a{
        font-size: 0.9rem;
        margin-right: 8px;
    }
    /*bannière présentation*/
    .titre-h1{
        font-size: 1.5rem;
    }
    /* textes proposition commerciale*/
    .proposition_commerciale_cadre-titre, .proposition_commerciale_cadre-resume {
       text-align: start;
    }

    .portfolio h2{
        font-size: 1rem;
    }
    .cta-hero {
        font-size: 1rem;
    }
    footer{
        padding: 0 10px 0 10px;
    }
    h4,   .informations_text p{
        font-size: 0.9rem;
    }


    /* media queries - contact*/
    #message{
        width: 320px;
    }

}
