.page-container {
    font-family: "helvetica";
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    text-decoration: none;
}

/************************************
            HEADER
*************************************/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
   /* z-index: 1;*/
}

/*bannière icone chouette*/
.navbar-brand img {
    max-height: 40px;   
}

/*texte navigation*/
.site-navigation {
    display: flex;
    list-style-type: none;
}

li a{
    font-size: 1.2rem;
    padding-bottom: 3px;
    margin-right: 20px;
}

li a:hover{
    font-weight: bold;
    border-bottom: 3px solid #000;
}


/*****************************************
        SECTION PRESENTATION
*******************************************/

/*Présentation bannière*/
/*style des images de fond*/
.bloc {
    width: 100%;
    clear: both;
    position: relative;
    background: 50% 50% no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/*fond image banière*/
.bg-banniere {
    background-image: url("img/la-chouette-agence-banniere.jpg");
    background-attachment: fixed; 
}

.bloc-lg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tight-width-whitespace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
}

.logo_bc{
    width: 100px;
}

.titre-h1{
    font-size: 2.3rem;
    font-weight: 400;
    color: #F3976C;
}

/*bannière - bouton contact*/
.btn-atomic-tangerine{
    background: #F3976C;
    color: #FFFFFF;
    border-radius: 40px;
    width: 80px;
}

.btn-atomic-tangerine:hover {
    background: #c27956;   
}
.cta-hero {
    margin-top: 22px;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-weight: 700;
}


/*****************************************
        SECTION SERVICES
*******************************************/

.service_accroche{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.service_titre{
    width: 600px;
    margin: 50px 0 30px 0;
}

.service_compétences{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service_bloc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    height: 230px;
}

.service_bloc--info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* ombres sur les icones*/
.icon-dark-slate-blue {
    color: #364577;
    border-color: #364577;
    font-size: 4rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.service_bloc--commentaire{  
    width:300px;  
    height: 63px;
    font-size: 1rem;
    margin: 0 20px 50px 20px;
    text-align: center;
}

.service_avis{
    width: 600px;    
}

.avis{
    font-size: 1.2rem;
    font-style: italic  ;
    text-align: center;
}

.auteur_avis{
    text-align: center;
    font-size: 1rem;;
}


/*********************/
 





#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
}



.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.bloc-sm {
    padding: 20px 50px;
}


.bg-repeat {
    background: repeat;
}


.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



.d-bloc {
    color: rgba(255, 255, 255, .7);
}

.d-bloc button:hover {
    color: rgba(255, 255, 255, .9);
}

.d-bloc .icon-round,
.d-bloc .icon-square,
.d-bloc .icon-rounded,
.d-bloc .icon-semi-rounded-a,
.d-bloc .icon-semi-rounded-b {
    border-color: rgba(255, 255, 255, .9);
}

.d-bloc .divider-h span {
    border-color: rgba(255, 255, 255, .2);
}


.d-bloc .navbar-toggle .icon-bar {
    background: rgba(255, 255, 255, 1);
}

.d-bloc .btn-wire,
.d-bloc .btn-wire:hover {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.d-bloc{
    color: rgba(0, 0, 0, .5);
}

.d-bloc button:hover {
    color: rgba(0, 0, 0, .7);
}

.d-bloc icon {
    border-color: rgba(0, 0, 0, .7);
}

.d-bloc .divider-h span {
    border-color: rgba(0, 0, 0, .1);
}

.d-bloc .a-btn {
    color: rgba(0, 0, 0, .6);
}

.d-bloc .a-btn:hover {
    color: rgba(0, 0, 0, 1);
}

.d-bloc .btn-wire,
.d-bloc .btn-wire:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3);
}

.d-bloc,
.l-bloc {
    color: rgba(0, 0, 0, .5);
}

.d-bloc button:hover,
.l-bloc button:hover {
    color: rgba(0, 0, 0, .7);
}

.l-bloc .icon-round,
.l-bloc .icon-square,
.l-bloc .icon-rounded,
.l-bloc .icon-semi-rounded-a,
.l-bloc .icon-semi-rounded-b {
    border-color: rgba(0, 0, 0, .7);
}

.d-bloc .divider-h span,
.l-bloc .divider-h span {
    border-color: rgba(0, 0, 0, .1);
}


.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0, 0, 0, .6);
}

.d-bloc .btn-wire,
.d-bloc  .btn-wire:hover,
.l-bloc .btn-wire,
.l-bloc .btn-wire:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3);
}

.voffset {
    margin-top: 30px;
}


.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}



.navbar {
    margin-bottom: 0;
    z-index: 1;
}




.navbar-nav .open > li > a {
    text-align: inherit;
}


.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0px;
}

.navbar-toggle:hover {
    background: transparent;
}

.navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 26px;
}

.nav-invert .navbar {
    float: left;
}

/***************************************************
            MEDIA QUERIES
*****************************************************/

@media (min-width: 768px) {
    .nav-center {
        text-align: center;
    }
    .nav-center{
        width: 100%;
    }

    .nav-center.mini-nav .navbar-toggle {
        float: none;
        margin: 10px auto 0;
    }
}


nav .caret {
    margin: 0 5px;
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    margin: 0 5px 5px 0;
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}

button {
    outline: none;
}



.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.icon-md {
    font-size: 30px;
}






.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

.lightbox-caption {
    padding: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
}

.close-lightbox {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1.0;
    color: #FFF;
}

.next-lightbox,
.prev-lightbox {
    font-size: 20px;
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: none;
}


h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
    color: #575757;
}

.container {
    max-width: 1000px;
}

.hero-bloc-text {
    font-size: 38px;
}

.hero-bloc-text-sub {
    font-size: 36px;
}

.statement-bloc-text {
    line-height: 26px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    max-width: 520px;
    margin: auto auto auto auto;
}

p {
    font-size: 11px;
}



.social {
    max-width: 400px;
    margin: auto auto auto auto;
}

h2 {
    font-size: 22px;
    line-height: 1.4em;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
}





h4 {
    color: #333333;
}

.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.white {
    color: #FFFFFF;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.avatar {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.black-background {
    background-color: rgba(165, 147, 99, 0.7);
    padding: 40px 40px 40px 40px;
}

.bold-link {
    font-weight: 900;
    text-decoration: underline;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: #F3976C;
}








.ltc-atomic-tangerine {
    color: #F3976C;
}

.ltc-atomic-tangerine:hover {
    color: #c27956;
}



.bg-dots-bg {
    background-image: url("img/dots-bg.png");
}

.bg-lines-h2-bg {
    background-image: url("img/lines-h2-bg.png");
}



.bg-presentation {
    background-image: url("img/image-de-presentation.bmp");
}



/*************************
MEDIA QUERIES
***************************/

@media (max-width: 1024px) {

    .bloc.full-width-bloc,
    .bloc-tile-2.full-width-bloc .container,
    .bloc-tile-3.full-width-bloc .container,
    .bloc-tile-4.full-width-bloc .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) and (min-width: 768px) {


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
 /*   .b-parallax {
        background-attachment: scroll;
    }*/
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
 /*   .b-parallax {
        background-attachment: scroll;
    }*/
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
  /*  .b-parallax {
        background-attachment: scroll;
    }*/
    .page-container,
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }



@media (max-width: 767px) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
  
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    #disqus_thread {
        padding-left: 10px;
        padding-right: 10px;
    }
  /*  .b-parallax {
        background-attachment: scroll;
    }*/
/*
    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }*/


   a .caret {
        float: none;
        margin: 5px 0 0 10px;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }

    .hero {
        padding: 50px 0;
    }
    .hero-nav {
        left: -1px;
        right: -1px;
    }

  
    .nav-invert {
        float: none;
        width: 100%;
    }
    .nav-invert .navbar-toggle {
        float: left;
        margin-left: 10px;
    }



    .bloc-sm,
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }
  
    .a-block {
        padding: 0 10px;
    }
    .btn-dwn {
        display: none;
    }
    .voffset {
        margin-top: 5px;
    }
    .voffset-md {
        margin-top: 20px;
    }

    form {
        padding: 5px;
    }
    .close-lightbox {
        display: inline-block;
    }
    .blocsapp-device-iphone5 {
        background-size: 216px 425px;
        padding-top: 60px;
        width: 216px;
        height: 425px;
    }
    .blocsapp-device-iphone5 img {
        width: 180px;
        height: 320px;
    }
}

@media (max-width: 400px) {

}

@media (max-width: 767px) {
    .bloc-mob-center-text {
        text-align: center;
    }
}